/*  */
*{
    letter-spacing: 0;
    font-family: "Montserrat", sans-serif;
}

/* Fonts */


/* .montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} 
.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}    
*/
.font-inter{
    font-family: "Inter", sans-serif;
}
.font-montserrat{
    font-family: "Montserrat", sans-serif;
}

body,
.container-fluid{
    overflow-x: hidden!important;
} 
.fs-16{
    font-size: 16px;
    line-height: 22px;
}
.fs-17{
    font-size: 17px;
    line-height: 23px;
}
.fs-18{
    font-size: 18px;
    line-height: 24px;
}
.fs-20{
    font-size: 20px;
    line-height: 26px;
}
.fs-21{
    font-size: 21px;
    line-height: 27px;
}
.fs-22{
    font-size: 22px;
    line-height: 28px;  
}
.fs-24{
    font-size: 24px;
    line-height: 30px;
}
.fs-28{
    font-size: 28px;
    line-height: 34px;
}
.fs-30{
    font-size: 30px;
    line-height: 36px;
}
.fs-32{
    font-size: 32px;
    line-height: 38px;
}
.fs-34{
    font-size: 34px;
    line-height: 40px;
}
.fs-42{
    font-size: 42px;
    line-height: 48px;
}
.fs-44{
    font-size: 44px;
    line-height: 50px; 
    
}
.fs-48{
    font-size: 48px;
    line-height: 54px;
}
.fs-60{
    font-size: 60px;
    line-height: 66px;
}
.fs-62{
    font-size: 62px;
    line-height: 68px;
}
.fs-64{
    font-size: 64px;
    line-height: 70px;
}
.fs-68{
    font-size: 68px;
    line-height: 74px;
}
.fs-120{
    font-size: 120px;
    line-height: 126px;
}
/* .lh-64{
    line-height: 64px;
} */
.color-green{
    color:#207F48;
}
.color-blue{
    color: #4B777C;
}
.color-red{
    color: #D53C5E;
}

.color-darkgreen{
    color: #1F2821;
}

.color-353C45{
    color: #353C45;
}
.color-F9FDD5{
    color: #F9FDD5;
}
.color-white{
    color: #FFFFFF;
}
.color-dark{
    color: #141718;
}
.color-lightdark{
    color: rgba(20, 23, 24, 0.8);
}

.font-weight-darker{
    font-weight: 900;
}

.bg-green{
    background-color: #2AD756;
}
.bg-lwhite{
    background-color: #F9FDD5;
}
.bg-darkgreen{
    background-color: #1F2821;
}
.bg-black{
    background-color: #141718;
}
.bg-lightblue{
    background-color: #BBE8ED;
}
.bg-lightblue-light{
    background-color: rgba(187, 232, 237, 0.3);
}

.letter-spacing-negative-4{
    letter-spacing: -0.64px!important;
}

.py-40{
    padding-top: 40px;
    padding-bottom: 40px;
}
.py-60{ 
    padding-top: 60px;
    padding-bottom: 60px;   
}
.pt-40{
    padding-top: 40px;
}
.pt-80{
    padding-top: 80px;
}
.pb-80{
    padding-bottom: 80px;
}
.my-80{
    margin-top: 80px;
    margin-bottom: 80px;
}
.mt-40{
    margin-top: 40px;
}
.mb-40{
    margin-bottom: 40px;
}

.font-weight-medium {
    font-weight: 500!important;
}

div#header {
    position: sticky;
    top: 0px;
    z-index: 1;
}
header {
    margin: 0!important;
}

li{
    list-style: none;
}

.green_button{
    background: #2AD756;
    border-radius: 5.32px;
    justify-content: space-between;
    padding: 20px 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #F9FDD5;
    text-decoration: none;
    display: inline;
    transition: all 0.3s ease;
}
.green_button:hover{
    background: #1F2821;
    color: #2AD756;
    text-decoration: none;
}

.blue_button{
    background: #BBE8ED;
    border-radius: 12px;
    justify-content: space-between;
    padding: 28.5px 76px;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #141718;
    text-decoration: none;
    display: inline;
    transition: all 0.3s ease;
    border: 2px solid #BBE8ED;
    letter-spacing: -0.96px !important;
}
.blue_button:hover{
    background: transparent;
    color: #141718;
    text-decoration: none;
}

.blue_button_light {
    background: rgba(187, 232, 237, 0.4);
    text-decoration: none;
    border: 1px solid rgba(187, 232, 237, 0.4);
    border-radius: 12px;
    padding: 8px 48px;
    color: rgba(20, 23, 24, 1);
    letter-spacing: -0.64px;
    font-family: 'Inter';
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
}
.blue_button_light:hover{
    text-decoration: none;
    color: rgba(20, 23, 24, 1);
}


.show_button_menu,
.show_button_results,
.show_button{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    border: 2px solid #BBE8ED;
    padding: 18px 75px;
    border-radius: 5.32px;
    display: inline-block;
    margin: auto;
    background: #BBE8ED;
    color: #141718;
    letter-spacing: -0.96px !important;
}
.show_button_menu:hover,
.show_button_results:hover,
.show_button:hover{
    color: #141718;
    background-color: transparent;
    text-decoration: none;  
}
.show_button_menu{
    padding: 11px 24px;
}
.show_button_results,
.show_button{
    border: 2px solid #141718;
    z-index: 1;
    position: relative;
}
.show_hide_btn_wrapper{
    margin-top: 60px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* gap: 80px; */
    gap: 0;
    padding:0 0 80px  0;
}

.usp_points li {
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    margin: 0 0 4px;
}
.usp_points li:last-childP{
    margin: 0;
}

.usp_points li::before {
    content: "";
    background-image: url(./images/others/Vector.svg);
    width: 21px;
    height: 21px;
}

.money_wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.money_col {
    display: flex;
    align-items: center;
    gap: 32px;
}
@media all and (min-width:1200px){
    .profit_point:nth-child(even) {
        margin-top: 80px;
    }
    .blue_button{
        min-width: 440px;
    }
    .container{
        min-width: 1360px;
    }
    .website-img,
    .result-img{
        margin-top:30px ;
    }
    .website-img:nth-child(1),
    .result-img:nth-child(1){
        margin-top: 0;
    }
    header {
        max-width: 1340px;
        margin: auto!important;
    }
    img.logo-menu {
        padding-left: 0!important;
    }
}
.fandb_icons {
    display: flex;
    justify-content: space-between;
}

.fandb_icons img {
    width: 100px;
    border-radius: 10px;
}
.reason-img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.money-img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.money .col{
    padding: 0 14px;
}

.comparison{
    min-height: 300px;
}
.tyson-block{
    position: relative;
    margin-top: -180px;
}
.lion-img{
    max-width: 830px;
    /* max-height: 510px; */
    object-fit: contain;
}
.comparison .line-right{
    margin-right: 100px!important;
}
.comparison .line-left{
    margin-left: 100px!important;
}

.comparison .line-right,
.comparison .line-left {
    position: relative;
}

.comparison .line-right::after {
    content: "";
    height: 1px;
    background: #F9FDD5;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    min-width: 1000px;
}
.comparison .line-left::before {
    content: "";
    height: 1px;
    background: #F9FDD5;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100%;
    min-width: 1000px;
}
.heading-line{ 
    position: relative;
}
.heading-line::after {
    content: "";
    background-image: url(./images/others/heading-line.png);
    height: 17px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    position: absolute;
    transform: translateY(-50%);
    left: 32%;
    bottom: -20px;
}
/* Tabs */
/* .custom_tabs {
    margin-top: 100px;
} */

.custom_tabs .nav-tabs {
    justify-content: center;
    border-bottom: 6px solid #141718;
    margin-bottom: 15px;
}

.custom_tabs .nav-tabs .nav-link {
    color: #141718;
    border: none;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: normal;
    text-align: center;
    padding: 32px 80px;
}

.custom_tabs .nav-tabs .nav-link.active {
    background: #141718;
    color: #BBE8ED;
    border-radius: 10px 10px 0 0;
}

.custom_tabs .tab-content {
    /* background: #9FE6B1;
    border-radius: 34.41px;
    padding: 66px 53px; */
    min-height: 80vh;
}

.custom_tabs .tab-content img{
    /* background: #9FE6B1; */
    border-radius: 34.41px;
    /* padding: 66px 53px; */
}
div#header .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
}
img.logo-menu {
    padding: 10px;
}

.footer_sec {
    background-color: rgba(250, 250, 250, 1);
}
.social_media{
    gap: 20px;
}

/*  */

.reasons-wrap {
    justify-content: space-between;
}
.profit_point {
    max-width: 272px!important;
    border: 1.5px solid rgba(20, 23, 24, 0.2);
    border-radius: 15px;
    padding: 15px;
    height: fit-content;
}

/*  */
.bonus_row_wrapper{
    background-image: url(./images/others/white_bg.png);
    background-color: #141718;
    background-size: contain;
}
.bonus_row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    padding: 50px 0;
    text-align: center;
}
.bonus_point {
    min-width: 253px;
}


/*  */

.bonus_wrapper_row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
    height: 100%;
}

.bonus_wrapper_col_img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 55px;
    text-align: center;
    background-image: url(./images/others/worth.png);
}

.bonus_wrapper_col {
    height: 100%;
    display: inline-block;
    min-height: 100%;
}




.show_mobile{
    display: none;
}
.show_desktop{
    display: block;
}
/* Responsive */
@media all and  (max-width:767px){
    .show_mobile{
        display: block;
    }
    .show_desktop{
        display: none;
    }
    svg.comparison-svg {
        max-width: 350px;
        height: auto;
    }
    .tyson-block {
        position: relative;
        margin-top: -80px;
        padding-bottom: 50px;
    }
    
    .blue_button{
        padding: 18px;
        width: 100%;
        font-size: 20px;
        text-align: center;
        border-radius: 5px;
    }
    .blue_button_light {
        padding: 7px 12px;
    }
    br.d-br-none{
        display: none!important;
    }

    .green_button {
        font-size: 14px;
        line-height: 20px;
    }
    .intro-section{
        flex-direction: column-reverse;
    }
    .px-sm-0,
    .intro-section > div,
    .usp,
    .money > div{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .fandb_icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
        align-items: center;
        justify-content: center;
    }
    .reasons-wrap *{
        text-align: center!important;
    }
    .reason-img{
        width: 100%;
        max-height: 120px;
    }
    .reasons-wrap {
        display: grid!important;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        margin-bottom: 80px;
    }
 
    .profit_point{
        height: 100%;
    }
    .profit_point:nth-child(even) {
        position: relative;
        top: 40px;
    }
    
   
    
    /* .reasons-wrap .col:last-child {
        grid-column: 1/-1;
    } */
    .money {
        display: grid!important;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .py-sm-30{
        padding-top:30px;
        padding-bottom: 30px;
    }
    .py-sm-40{
        padding-top:40px;
        padding-bottom: 40px;
    }
    .my-sm-40{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .mb-sm-20{
        margin-bottom: 20px;
    }
    .sm-fs-12{
        font-size: 12px;
        line-height: 18px;  
    }
    .sm-fs-13{
        font-size: 13px;
        line-height: 19px;  
    }
    .sm-fs-14{
        font-size: 14px;
        line-height: 20px;  
    }
    .sm-fs-15{
        font-size: 15px;
        line-height: 21px;  
    }
    .sm-fs-16{
        font-size: 16px;
        line-height: 22px;  
    }
    .sm-fs-17{
        font-size: 17px;
        line-height: 23px;  
    }
    .sm-fs-20{
        font-size: 20px;
        line-height: 26px;  
    }
    .sm-fs-21{
        font-size: 21px;
        line-height: 27px;  
    }
    .sm-fs-22{
        font-size: 22px;
        line-height: 28px;  
    }
    .sm-fs-24{
        font-size: 24px;
        line-height: 30px;  
    }
    .sm-fs-28{
        font-size: 28px;
        line-height: 34px;  
    }
    .sm-fs-30{
        font-size: 30px;
        line-height: 36px;  
    }
    .sm-fs-38{
        font-size: 38px;
        line-height: 44px;  
    }
    .sm-fs-58{
        font-size: 58px;
        line-height: 64px;  
    }
    .sm-text-left{
        text-align: left!important;
    }
    .custom_tabs .nav-tabs .nav-link {
        padding: 16px 46px;
        font-size: 12px;
        line-height: 18px;
    }
    .custom_tabs .tab-content{
        min-height: 20vh;
    }
    .money_wrap_container{
        padding: 0!important;
    }
    .money_wrap{
        grid-template-columns: 1fr;
    }
    .money-img{
        width: 40px;
        height: 40px;
    }
    .money_col {
        display: grid;
        grid-template-columns: auto auto;
        gap: 0 24px;
        padding: 0 15px;
    }
    .money_col:nth-child(even) {
        background: white;
        padding: 20px 15px;
    }
    .money_col:nth-child(even) img {
        order: 2;
    }
    
    .money_col p {
        grid-column: 2/3;
    }
    
    .money .col img {
        margin-bottom: 0!important;
    }
    .custom_tabs .tab-content div#nav-results img {
        padding: 20px 10px;
        border-radius: 10px;
    }
    .custom_tabs .tab-content div#nav-website img {
        padding:0;
        border-radius: 0;
    }
    .show_hide_btn_wrapper{
        margin-top: 20px;
    }
    .show_button {
        min-height: 30px;
    }
    .website-img,
    .result-img{
        margin-top:10px ;
    }
    .website-img:nth-child(1),
    .result-img:nth-child(1){
        margin-top: 0;
    }
    .heading-line::after {
        content: "";
        width: 250px;
        left: 19%;
        bottom: -25px;
    }
    .usp_section {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    a.show_button_menu {
        padding: 10px 30px;
        font-size: 12px;
    }
    
    div#header {
        position: sticky;
        top: 1px;
    }
    .footer_logo{
        max-width: 250px!important;
    }
    .bonus_row_wrapper {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .money_wrap_container_wrapper{
        padding-bottom: 0!important;
    }
    .bonus_wrapper_row{
        gap: 9px;
    }
    .bonus_row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
        padding: 20px 0;
    }

    .bonus_point {
        min-width: 100%;
    }
    .bonus_point br{
        display: none;
    }
    .bonus_wrapper_col_img {
        padding: 25px;
    }
    .py-sm-20 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
  
}